.filter{
    display: flex;
    gap:2vw;
    margin-left: auto;
    margin-right: auto;
}

.filter select{
    padding: 0.5vw;
    text-align: center;
    border:none;
    font-size: 1.2vw ;
    font-family: "Andale Mono";
}

.filter select:focus-visible {
    outline:  none;
}